body {
    background-color: #bbdfdd;
    color: #157843;
    font-family: 'Palatino Linotype', serif;
    margin: 40px 80px 40px 80px;

}

.main-text:hover {
    color:#1b6138;
    text-decoration: underline;

}

.main-text {
    color:#157843;
    text-decoration: none;


}

.active {
    font-weight: bold;
    color:#1b6138;
}

nav {
    font-size: 19px;

}

.soder {
    color:#157843;
    text-decoration: none;
    font-size: larger;
}
.soder:hover {
    color:#1b6138;
    text-decoration: underline;
}

.picture_1 {
    float:right;
    margin-left: 20px;
    border: 10px ridge #3b968c;
}

table {
    background-image: url(https://i.pinimg.com/736x/a5/25/19/a52519920d4b2f169d266001b25b2dbd.jpg);
	width: 100%;
    border: 1зч solid #716747;
    border-collapse: separate;
    
}

th {
    font-size: 18px;
	padding: 4px;
	background: #cac39e;
	border: 1px solid #716747;
}

td {
	border: 1px solid #716747;
	padding: 5px;
}



.picture_2 {
    float:left;
    border: 10px ridge #68c0b1;
}

.text1 {
    margin-left: 450px;

}

.picture_3 {
    float:right;
    margin-left: 20px;
    margin-bottom: 40px;
    border: 10px ridge #569484;
}